
body {
    display: flex;

    justify-content: center;
}

#title{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 30px;
}
.todolist-panel {
    width: 45em;
    min-height: 25em;

    border: 1px solid #bbb;
    box-shadow: 2px 2px 2px #bbb;
    background-image: linear-gradient();
}

.input-pane {
    display: flex;
}

.input-pane, .list-pane {
    padding: 5px 1em;
}

.input-pane > input {
    flex: 1 1 8em;
}

.list-pane > .todo-item {
    display: flex;
    margin: 0.5em 0;
}

.list-pane > .todo-item > .title {
    flex: 1 1 8em;
}
.input-pane:hover{
    background-color: rgb(59, 143, 143);
}

.important-flag {
    width: 1.5em;
    text-align: center;
    border: 1px solid #bbb;
    color: #ccc;
    font-size: 1em;
    font-weight: 900;

    user-select: none;
}
.important-flag:hover{
    background-color: rgb(56, 99, 99);
}

.important-flag.open {
    color: red;
}

.input-pane #add-btn:hover{
    background-color: rgb(96, 160, 96);
}
.input-pane #his-btn:hover{
background-color: rgb(96, 160, 96);
}
.input-pane  #his-btn.open {
    background-color: rgb(67, 109, 109);
}

.delete-list{width: 1.5em;
    text-align: center;
    border: 1px solid #bbb;
    color: rgb(92, 129, 92);
    font-size: 1em;
    font-weight: 500;
    user-select: none;
}
.delete-list:hover{
    background-color: rgb(55, 95, 95);
}