
body {
    display: flex;

    justify-content: center;
}

.todolist-panel {
    width: 20em;
    min-height: 25em;

    border: 1px solid #bbb;
    box-shadow: 2px 2px 2px #bbb;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 255, 179, 0.925));
}

.input-pane {
    display: flex;
}

.input-pane, .list-pane {
    padding: 5px 1em;
}

.input-pane > input {
    flex: 1 1 8em;
}

.list-pane > .todo-item {
    display: flex;
    margin: 0.5em 0;
}

.list-pane > .todo-item > .title {
    flex: 1 1 8em;
}

.important-flag {
    width: 1.5em;
    text-align: center;
    border: 1px solid #bbb;
    color: #ccc;
    font-size: 1em;
    font-weight: 900;

    user-select: none;
}

.important-flag.open {
    color: red
}

.input-pane  #his-btn.open {
    background-color: rgb(0, 132, 255);
}

.delete-list{width: 1.5em;
    text-align: center;
    border: 1px solid #bbb;
    color: cornflowerblue;
    font-size: 1em;
    font-weight: 500;
    user-select: none;
}
